In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_excel("flight_price.xlsx")
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

Description:
The various features of the data are explained below:

Airline: The name of the airline company is stored in the airline column. It is a categorical feature having 6 different airlines.

Flight: Flight stores information regarding the plane's flight code. It is a categorical feature.

Source City: City from which the flight takes off. It is a categorical feature having 6 unique cities.

Departure Time: This is a derived categorical feature obtained created by grouping time periods into bins. It stores information about the departure time and have 6 unique time labels.

Stops: A categorical feature with 3 distinct values that stores the number of stops between the source and destination cities.

Arrival Time: This is a derived categorical feature created by grouping time intervals into bins. It has six distinct time labels and keeps information about the arrival time.

Destination City: City where the flight will land. It is a categorical feature having 6 unique cities.

Class: A categorical feature that contains information on seat class; it has two distinct values: Business and Economy.

Duration: A continuous feature that displays the overall amount of time it takes to travel between cities in hours.

10)Days Left: This is a derived characteristic that is calculated by subtracting the trip date by the booking date.

Price: Target variable stores information of the ticket price.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [4]:
df.shape

(10683, 11)

In [5]:
df.isnull().sum()
#route & total_stops have null value, but that cant possible---
#so we drop

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [6]:
df=df.dropna(axis=0)

In [7]:
df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

In [8]:
df.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price'],
      dtype='object')

In [9]:
a=pd.to_datetime(df["Date_of_Journey"])

In [10]:
df["year"]=a.dt.year

In [11]:
df["day"]=a.dt.day

In [12]:
df["month"]=a.dt.month

In [13]:
df["day"]=df["day"].astype(int)
df["month"]=df["month"].astype(int)
df["year"]=df["year"].astype(int)

In [14]:
df=df.drop("Date_of_Journey",axis=1)#droping the col
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10682 entries, 0 to 10682
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Source           10682 non-null  object
 2   Destination      10682 non-null  object
 3   Route            10682 non-null  object
 4   Dep_Time         10682 non-null  object
 5   Arrival_Time     10682 non-null  object
 6   Duration         10682 non-null  object
 7   Total_Stops      10682 non-null  object
 8   Additional_Info  10682 non-null  object
 9   Price            10682 non-null  int64
 10  year             10682 non-null  int32
 11  day              10682 non-null  int32
 12  month            10682 non-null  int32
dtypes: int32(3), int64(1), object(9)
memory usage: 1.0+ MB

In [15]:
df["Arrival_Time"].unique

<bound method Series.unique of 0        01:10 22 Mar
1               13:15
2        04:25 10 Jun
3               23:30
4               21:35
             ...
10678           22:25
10679           23:20
10680           11:20
10681           14:10
10682           19:15
Name: Arrival_Time, Length: 10682, dtype: object>

In [16]:
df["Arrival_Time"]=df["Arrival_Time"].str.split(" ").str[0]
df["Arrival_Time"]

0        01:10
1        13:15
2        04:25
3        23:30
4        21:35
         ...
10678    22:25
10679    23:20
10680    11:20
10681    14:10
10682    19:15
Name: Arrival_Time, Length: 10682, dtype: object

In [17]:
df["arrival hour"]=df["Arrival_Time"].str.split(":").str[0]
df["arrival hour"]

0        01
1        13
2        04
3        23
4        21
         ..
10678    22
10679    23
10680    11
10681    14
10682    19
Name: arrival hour, Length: 10682, dtype: object

In [18]:
df["arrival in mins"]=df["Arrival_Time"].str.split(":").str[1]
df["arrival in mins"]

0        10
1        15
2        25
3        30
4        35
         ..
10678    25
10679    20
10680    20
10681    10
10682    15
Name: arrival in mins, Length: 10682, dtype: object

In [19]:
df=df.drop("arrival in mins",axis=1)
df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,year,day,month,arrival hour
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897,2019,24,3,01
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,2019,1,5,13

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10682 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Source           10682 non-null  object
 2   Destination      10682 non-null  object
 3   Route            10682 non-null  object
 4   Dep_Time         10682 non-null  object
 5   Arrival_Time     10682 non-null  object
 6   Duration         10682 non-null  object
 7   Total_Stops      10682 non-null  object
 8   Additional_Info  10682 non-null  object
 9   Price            10682 non-null  int64
 10  year             10682 non-null  int32
 11  day              10682 non-null  int32
 12  month            10682 non-null  int32
 13  arrival hour     10682 non-null  object
dtypes: int32(3), int64(1), object(10)
memory usage: 1.1+ MB

In [21]:
df["arrival in mins"]=df["arrival in mins "].astype(int)
df["arrival hour"]=df["arrival hour"].astype(int)

KeyError: 'arrival in mins '

In [ ]:
df.info()

In [ ]:
df=df.drop("arrival in mins",axis=1)

In [ ]:
df.info()

In [ ]:
df["arrival in mins"]=df["arrival in mins"].astype(int)

In [ ]:
df.info()

In [ ]:
#droping the arrival time
df=df.drop("Arrival_Time",axis=1)

In [ ]:
df.head(2)

In [ ]:
df["Dep_Time"]

In [ ]:
df["Dep_Time_hour"]=df["Dep_Time"].str.split(":").str[0]
df["Dep_Time_mins"]=df["Dep_Time"].str.split(":").str[1]
df["Dep_Time_hour"]=df["Dep_Time_hour"].astype(int)
df["Dep_Time_mins"]=df["Dep_Time_mins"].astype(int)
df=df.drop("Dep_Time",axis=1)
df.info()

In [ ]:
df["Total_Stops"].unique()
# as the data in ordinal categorical data we do, label encoding/maping.

# Maping ---- data to numeric

In [ ]:

df["Total_Stops"]=df["Total_Stops"].map({"non-stop":0,"1 stop":1,"2 stops":2,"3 stops":3,"4 stops":4})

In [ ]:
df["Total_Stops"]

In [ ]:
df.info()

In [ ]:
df

In [ ]:
# As we already have the Source, Destination we don't need Route
# Also stop col also in the data set
# so route is a repeated information

df=df.drop("Route",axis=1)

In [ ]:
df["duration_hours"]=df["Duration"].str.split(" ").str[0].str.split("h").str[0]
df["duration_hours"]

In [ ]:
df["duration_mins"]=df["Duration"].str.split(" ").str[1].str.split("m").str[0]
df["duration_mins"]

In [ ]:
df=df.drop("Duration",axis=1)

In [ ]:
df.head(3)

In [ ]:
df.columns

In [ ]:
df.Additional_Info.unique()

In [ ]:
df[["Destination","Source","Airline","Additional_Info"]]

#here the data contain no order ,so this datas are nominal data type.
#so we use onehotencoding

In [ ]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder()

ohe.fit_transform(df[["Destination","Source","Airline","Additional_Info"]]).toarray()

In [ ]:
ohe.get_feature_names_out()

In [ ]:
encoded_df=pd.DataFrame(ohe.fit_transform(df[["Destination","Source","Airline","Additional_Info"]]).toarray(),columns=ohe.get_feature_names_out())
encoded_df

In [ ]:
# joing both datasets--

df=pd.concat([df,encoded_df],axis=1)